body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

.chessboard-container {
    width: 90vmin;
    height: 90vmin;
}

.chessboard {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.square {
    width: 100%;
    height: 100%;
}

.light {
    background: rgb(207, 207, 181);
}

.dark {
    background: rgb(117, 55, 55);
}